Repository piepworks/blaze-starter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pending-migrations, stylelint, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pending-migrations
        name: Check for pending migrations
        language: system
        entry: venv/bin/python manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: stylelint
        name: Run Stylelint
        language: system
        entry: npx stylelint "static/tailwind/main.css"
        types: [css]
        pass_filenames: false
      - id: eslint
        name: Run ESLint
        language: system
        entry: npx eslint --ext .js ./**/templates/js
        types: [javascript]
        pass_filenames: false

Add 404 template.
  templates/404.html
  templates/base.html
  templates/placeholder.html
Due: none

Only show our badge if logged in.
  templates/admin/base.html
Due: none

Adjust VS Code indentation for Django HTML.
  .vscode/settings.json
Due: none

Lots of login/registration stuff!
  config/settings.py-tpl
  config/urls.py-tpl
  core/forms.py
  core/utils.py
  core/views.py-tpl
  dev/setup.sh
  templates/placeholder.html
  templates/private.html
  templates/registration/base.html
  templates/registration/login.html
  templates/registration/password_change_done.html
  templates/registration/password_change_form.html
  templates/registration/password_reset_complete.html
  templates/registration/password_reset_confirm.html
  templates/registration/password_reset_done.html
  templates/registration/password_reset_email.html
  templates/registration/password_reset_form.html
  templates/registration/password_reset_subject.txt
  templates/registration/register.html
Due: pending-migrations

Django Extensions seems neat.
  config/settings.py-tpl
  requirements/requirements.in
  requirements/requirements.txt
Due: none

Favicon goodies!
  config/settings.py-tpl
  config/tests/test_views.py
  core/views.py-tpl
  static/img/seahorse-64x64.png
  static_nonversioned/android-chrome-192x192.png
  static_nonversioned/android-chrome-512x512.png
  static_nonversioned/apple-touch-icon.png
  static_nonversioned/browserconfig.xml
  static_nonversioned/favicon-16x16.png
  static_nonversioned/favicon-32x32.png
  static_nonversioned/mstile-150x150.png
  static_nonversioned/safari-pinned-tab.svg
  static_nonversioned/site.webmanifest
  templates/base.html
Due: pending-migrations

Update Python stuff.
  requirements/requirements.txt
Due: none

Add our new badge.
  templates/admin/base.html
Due: none

Name change, add aircraft carrier line.
  README.md
  dev/setup.sh
  templates/placeholder.html
Due: none

Update email stuff from what I did on Hub.
  config/settings.py-tpl
Due: none

Adapt the Kirby license for Blaze.horse.
  .pre-commit-config.yaml
  LICENSE.md
Due: none

Improve license status badge positioning.
  templates/admin/base.html
Due: none

Randomly generate an admin URL.
  dev/setup.sh
Due: none

Add ESLint and a placeholder JS file.
  .eslintrc.js
  .pre-commit-config.yaml
  package-lock.json
  package.json
  templates/base.html
  templates/js/placeholder.js
Due: eslint

Add check for pending migrations.
  .pre-commit-config.yaml
Due: none

Update JS stuff.
  package-lock.json
Due: none

Change order of things based on Django source.
  core/models.py
Due: pending-migrations

Update README.
  README.md
Due: none

Update setup script.
  dev/setup.sh
Due: none

Add Stylelint to pre-commit.
  .pre-commit-config.yaml
Due: none

Add refund policy to make Paddle approval happy.
  LICENSE.md
Due: none

Ignore staticfiles/.
  .gitignore
Due: none

Install Prettier.
  .eslintrc.js
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE.md
  README.md
  package-lock.json
  package.json
  static_nonversioned/site.webmanifest
Due: eslint

Set up PostCSS.
  .gitignore
  .stylelintrc.js
  package-lock.json
  package.json
  postcss.config.js
  static_src/css/main.css
  static_src/css/vendor/pico-1.5.9.min.css
  static_src/css/vendor/pico.min.css.map
  templates/base.html
Due: stylelint, eslint

Update footer, change CSS nesting to follow spec.
  package-lock.json
  package.json
  postcss.config.js
  static_src/css/main.css
  templates/base.html
Due: stylelint, eslint

Build PostCSS stuff and tell folks how to run it.
  dev/setup.sh
Due: none

Fuck that noise.
  LICENSE.md
Due: none

Remove unused stuff, but keep this folder.
  .gitignore
  static/css/.gitkeep
  static/css/main.scss
Due: none

Install htmx and django-htmx.
  .pre-commit-config.yaml
  config/settings.py-tpl
  requirements/requirements.in
  requirements/requirements.txt
  static/js/vendor/htmx-1.9.2.min.js
  templates/base.html
Due: eslint

Start on some proper documentation.
  documentation/deployment/digitalocean.md
  documentation/deployment/fly.md
  documentation/deployment/index.md
  documentation/index.md
  documentation/tailwind.md
Due: none

Fix htmx stuff.
  .gitignore
  templates/base.html
Due: none

Make /favicon.ico actually work.
  config/urls.py-tpl
Due: none

Remove Group from admin.
  core/admin.py
Due: pending-migrations

Add example production .env file.
  .gitignore
  example-production.env
Due: none

Add Fly deployment documentation.
  documentation/deployment/fly.md
Due: none

Send ALLOWED_HOST to the badge.
  templates/admin/base.html
Due: none

Update Fly instructions.
  documentation/deployment/fly.md
Due: none
